# Database
POSTGRES_DB=ahoum_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Django
SECRET_KEY=django-insecure-key-123
DEBUG=True

# OAuth (Google / GitHub)
OAUTH_CLIENT_ID=your_oauth_client_id
OAUTH_CLIENT_SECRET=your_oauth_client_secret

# Proxy Settings
DOMAIN=localhost
